---
layout: layouts/base.njk
title: Services
---

<section id="banner">
    <div class="inner">
        <h2>Services</h2>
        <p>Open source services hosted for friends and family.</p>
    </div>
</section>

<section id="wrapper">

    <section id="one" class="wrapper spotlight style1">
        <div class="inner">
            <div class="content">
                <h2 class="major">User Services</h2>
                <p>Apps and tools available to friends and family.</p>
                <a href="/services/user/" class="special">Browse</a>
            </div>
        </div>
    </section>

    <section id="two" class="wrapper spotlight alt style2">
        <div class="inner">
            <div class="content">
                <h2 class="major">Technical Services</h2>
                <p>Infrastructure, networking and self-hosting tools.</p>
                <a href="/services/technical/" class="special">Browse</a>
            </div>
        </div>
    </section>

    <section id="three" class="wrapper spotlight style3">
        <div class="inner">
            <div class="content">
                <h2 class="major">Game Servers</h2>
                <p>Minecraft, Valheim and more.</p>
                <a href="/services/game/" class="special">Browse</a>
            </div>
        </div>
    </section>

</section>
