---
layout: layouts/base.njk
title: Blog
---

<section id="banner">
    <div class="inner">
        <h2>Blog</h2>
        <p>Server news, bookmarks, and articles. Each has its own <b><a href="rss">RSS feed</a></b>.</p>
    </div>
</section>

<section id="wrapper">

    <section class="wrapper style3">
        <div class="inner">
	<div class="content">
            <div style="text-align: right"><h2 class="major">Server News</h2>
	    <p>This is where I post things like new features, major service version updates, and planned downtime alerts.</p>
            <a href="/blog/server-news/" class="special">All Server News</a></div>

	</div>
        </div>
    </section>

    <section class="wrapper alt style2">
        <div class="inner">
	<div class="content">
            <h2 class="major">Bookmarks</h2>
		<p>This is where I post useful and or interesting websites I find.</p>
            <a href="/blog/bookmarks/" class="special">All Bookmarks</a>
	</div>
        </div>
    </section>

    <section class="wrapper style1">
        <div class="inner">
	<div class="content">
            <div style="text-align: right"><h2 class="major">Articles</h2>
		<p>This is where I might eventually post articles. I probably won't, but all the bloggers I admire write articles so maybe one day I will to.</p>
            <a href="/blog/articles/" class="button">All Articles</a></div>
	</div>
        </div>
    </section>

</section>
