---
layout: layouts/base.njk
title: Blog
---

<section id="banner">
    <div class="inner">
        <h2>Blog</h2>
        <p>Server news, bookmarks, and articles. Each has its own <b><a href="rss">RSS feed</a></b>.</p>
    </div>
</section>

<section id="wrapper">

    <section class="wrapper alt style3">
        <div class="inner">
	<div class="content">
            <h2 class="major">Server News</h2>
            <section class="features">
            {% for post in collections.serverNews | limit(4) %}
                <article>
                    <h3 class="major">{{ post.data.title }}</h3>
                    <p>{{ post.data.description }}</p>
                    <a href="{{ post.url }}" class="special">Read more</a>
                </article>
            {% endfor %}
            </section>
            <a href="/blog/server-news/" class="button">All Server News</a>
	</div>
        </div>
    </section>

    <section class="wrapper spotlight style3">
        <div class="inner">
	<div class="content">
            <h2 class="major">Bookmarks</h2>
            <section class="features">
            {% for post in collections.bookmarks | limit(4) %}
                <article>
                    <h3 class="major">{{ post.data.title }}</h3>
                    <p>{{ post.data.description }}</p>
                    <a href="{{ post.url }}" class="special">Read more</a>
                </article>
            {% endfor %}
            </section>
            <a href="/blog/bookmarks/" class="button">All Notes</a>
	</div>
        </div>
    </section>

    <section class="wrapper alt style1">
        <div class="inner">
	<div class="content">
            <h2 class="major">Articles</h2>
            <section class="features">
            {% for post in collections.articles | limit(4) %}
                <article>
                    <h3 class="major">{{ post.data.title }}</h3>
                    <p>{{ post.data.description }}</p>
                    <a href="{{ post.url }}" class="special">Read more</a>
                </article>
            {% endfor %}
            </section>
            <a href="/blog/articles/" class="button">All Articles</a>
	</div>
        </div>
    </section>

</section>
