---
layout: layouts/base.njk
title: RSS
---

<section id="banner">
    <div class="inner">
        <h2>
            {{ title }}
        </h2>
    </div>
</section>

<section id="wrapper">
    <section class="wrapper style2">
        <div class="inner">
            <h2><a href="/blog/server-news/feed.xml"><i class="icon solid fa-rss"></i> Server News</a></h2>
	    <p>This blog contains news about the server. Common posts are about new features, planned downtime, etc.</p>
	    <h2><a href="/blog/articles/feed.xml"><i class="icon solid fa-rss"></i> Articles</a></h2>
	    <p>This blog contains articles written by me. I don't know if I'll ever write an article, but if I do it'll be here lol.</p>
	    <h2><a href="/blog/bookmarks/feed.xml"><i class="icon solid fa-rss"></i> Bookmarks</a></h2>
	    <p>I post useful website in this blog.</p> 
        </div>
    </section>
</section>
