---
layout: layouts/base.njk
---

<section id="banner">
    <div class="inner">
        <h2>{{ title }}</h2>
        <p>{{ description }}</p>
    </div>
</section>

<section id="wrapper">
    <section class="wrapper style1">
        <div class="inner">
            <section class="features">
            {% for post in collections[collection] %}
                <article>
                    <h3 class="major">{{ post.data.title }}</h3>
                    <p>{{ post.data.description }}</p>
                    <a href="{{ post.url }}" class="special">Read more</a>
                </article>
            {% endfor %}
            </section>
        </div>
    </section>
</section>
