---
permalink: /blog/articles/feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ site.title }} — Articles</title>
    <link href="{{ site.url }}/blog/articles/feed.xml" rel="self"/>
    <link href="{{ site.url }}/blog/articles/"/>
    <updated>{% if collections.articles and collections.articles.length %}{{ collections.articles | getNewestCollectionItemDate | dateToRfc3339 }}{% else %}2026-01-01T00:00:00Z{% endif %}</updated>
    <id>{{ site.url }}/blog/articles/</id>
    <author><name>{{ site.author }}</name></author>
    {% for post in collections.articles %}
    <entry>
        <title>{{ post.data.title }}</title>
        <link href="{{ site.url }}{{ post.url }}"/>
        <updated>{{ post.date | dateToRfc3339 }}</updated>
        <id>{{ site.url }}{{ post.url }}</id>
        <summary>{{ post.data.description }}</summary>
        <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(site.url) | safe }}</content>
    </entry>
    {% endfor %}
</feed>
